@import "../global";

.sidebar {
    max-width: 270px;
    text-align: center;

    &__top {
        padding: 24px 16px 0;
    }

    hr {
        margin-top: 24px;
        background-color: $color-gray;
    }

    &__name {
        @include font();
        margin: 16px 0 4px;
        letter-spacing: -0.05px;
        text-align: center;
        color: $color-black;
    }

    &__position {
        @include font(12px);
        color: $color-gray;
        text-align: center;
    }
    &__nav{
        padding: 30px 0 30px 30px;
    }
    &__item{
        margin-bottom: 26px;
    }
}